# FILES
alias openzsh="code ~/.zshrc"
alias londelo="~/Documents/londelo"
alias viv="~/Documents/londelo/VIVED"
alias startweb="code ~/Documents/londelo/VIVED/vived_science_webgl/ScienceWebGL_TS && ~/Documents/londelo/VIVED/vived_science_webgl/ScienceWebGL_TS &&  export SASS_PATH=./node_modules"
alias startweb2="code ~/Documents/londelo/VIVED/vived_player_2 && ~/Documents/londelo/VIVED/vived_player_2"
alias startvivapi="code ~/Documents/londelo/VIVED/vived-api && ~/Documents/londelo/VIVED/vived-api && export AWS_REGION=us-east-1"
alias startcolfro="code ~/Documents/londelo/VIVED/collection-publishing && ~/Documents/londelo/VIVED/collection-publishing"
alias startouzel="code ~/Documents/londelo/VIVED/ouzel_frontend && ~/Documents/londelo/VIVED/ouzel_frontend"
alias startpublisher="code ~/Documents/londelo/VIVED/app_publisher && ~/Documents/londelo/VIVED/app_publisher"

alias gitVivSetUp='git config user.name "Brodie Balser" && git config user.email brodie.balser@vivedlearning.com'

# NPM
alias nr="npm run"

# GITHUB
alias gcd="git checkout develop"
alias gcs="git checkout staging"
alias gcm="git checkout master"
alias gpd="git pull origin develop"
alias gps="git pull origin staging"
alias gpm="git pull origin master"